<h1>Deeds</h1>

<ul>
  <% @deeds.each do |deed| %>
    <li><%= link_to deed.content, deed_path(deed) %></li>
  <% end %>
</ul>

<h1>Karma Score <%= @deeds.length %></h1>

<%= link_to "Record a deed", new_deed_path %>
